/* *{
  margin: 0;
  padding: 0;

}

.sidebar{
  width: 40%;
  height: 100vh;
  margin: 10px;
  padding: 20px;
  border: 1px black solid;
  border-radius: 15px;
}

.sidebar .AddDepartment, .sidebar .RemoveDepartment, .sidebar .dropbtn{
  font-size: 1.4em;
  margin: 20px;
  width: 95%;
  padding: 5px 0px;
  border: 1px black solid; 
  border-radius: 20px;
  text-align: center;
  background-color: #a5d8ff;
  color: black;
  font-family:Arial, Helvetica, sans-serif
}
.sidebar .AddDepartment a, .sidebar .RemoveDepartment a{
  text-decoration: none;
  color: black;
}


.sidebar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.sidebar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sidebar .dropdown-content a:hover {background-color: #f1f1f1}

.sidebar .dropdown:hover .dropdown-content {
  display: block;
}

.sidebar .ProfileDetails{
  margin-top: 90px;
  width: 95%;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
} */




