*{
    margin: 0px;
    padding: 0px;
  }
  
  body{
     background-color:dodgerblue;
     background-image: url('https://arcmaxarchitect.com/sites/default/files/styles/hd/public/best_architects_for_sustainable_hospital_design_in_india_united_states_and_united_kingdom.jpg?itok=0p6nHJ3d');
     background-size: cover;
     background-position: center;
    
  }
  .header{
    display :flex;
    justify-content: space-between;
    /* background-color: rgb(1, 170, 237); */
    background: transparent;
    backdrop-filter: blur(5px);
    border-bottom:solid;
    width:100dvw;
    margin: 0px;
    box-shadow: 0 0 30px 5px;
    
  }
  h1{
    margin:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-decoration:underline;
  }
  .about{
    color:rgb(0, 0, 0);
    font-size: 20px;
    display:flex;
    gap:10px;
    margin:20px;
    margin-right:40px;
    transition: all 0.3s ease;
  }
  .transition:hover{
    transform: translateY(-10px);
  }
  
  .hod-dashboard {
      display: flex;
    
      height: 60vh;
      width:50vw;
      background: transparent;
      
      flex-direction: row;
      justify-content: space-around;
      gap:0px;
      
   
      transform: translate(25vw,5vh);
     
    }
    
  .sidebar {
     flex:1;
      display: flex;
      height: 100%;
      flex-direction: column;
      gap: 40px;
      min-width: 200px;
      max-width: 250px;
      background-color:#4264D0; 
      padding: 30px;
      border-right: solid;
      border-radius: 20px 0px 0px 20px;
    }
    
  .view-doctors,.add-doctor-form{
     flex:2;
     width:400px;
      text-align: center;
      max-width:50vw;
      border-radius: 0px 20px 20px 0;
     height: 100%;
      /* background: linear-gradient(90deg, rgb(215, 5, 215),rgb(126, 34, 226)); */
      background-color: aliceblue;
     
      padding:30px;
      
    
  }
  p{
    position: absolute;
    top:50%;
    left:55%;
    font-style: italic;
    font-size: 20px;
  }
  .view-doctors{
    width:300px;
  }
  
  .link{
  
     width:fit-content;
     gap:1px;
     margin-top: 20px;
     font-size: 20px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    
  }
  .list{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 80%;
    margin-top:20px;
  }
  button{
      height:10dvh;
      transition: all 0.5s ease;
      background-color: rgb(130, 136, 255);
      color: white;
      width:190px;
      border-radius: 30px;
      padding: 10px;
     
  }
  button:hover:not(.add, #profile ){
    transform: translateX(30px);
  }
  #profile{
      height:40dvh;
  }
  
  
  .input{
     padding: 5px;
     margin:20px;
     transform: translateX(80px);
     display: block;
    gap:10px;
    height:4vh;
    border-radius: 15px;
  }
  .add{
    height:5vh;
    width:fit-content;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 15px;
    margin:10px;
    transition: all 0.7s ease;
    
  }
  .add:hover{
    transform: scale(1.1);
  }
  .add-doctor-form h2{
    margin-top:15vh;
  }
  div h2{ 
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bolder;
    color:rgb(130, 238, 218)
  }
  
  .footer{
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 97.4vw;
    height:4vh;
    background-color: antiquewhite;
    padding: 20px;
    overflow: hidden;
    opacity: 0.8;
  }
  
  @media screen and (max-width: 768px) {
  .container {
        flex-direction: column;
        flex:wrap;
        }
    
  
  .sidebar {
        min-width: 100%;
        flex-direction: row;
      }
    }
    .header{
      width:100%;
    }
    